*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(237, 232, 232);
    background-image: url(bgimage.jpg);
}
.signup{
    text-align: center;
    color: black;
}
.login{
    text-align: center;
    color: black;
}
.heading{
    font-size: 30px;
    color: rgb(255, 250, 255);
    text-shadow: gray;
}
.data{
    padding: 20px;
    height: 30px;
    width: 30px;
}
.table{
    align-items: center;
    text-align: center;
    margin-left: 35%;
    margin-top: 5%;
    font-size: 20px;
    border: 2px solid whitesmoke;
    padding: 50px;
}
.entries{
    margin-left: 2%;
}
.button{
   padding: 10px;
    border: 1px whitesmoke solid;
    margin-top: 30px;
    background-image: none;
    background-color: black;
    
}
.button:hover {
   background-color: gray;
    transition: 0.4s ease-in-out;
    color: black;
  }
  /* a:hover{
    background-color: gray;
    transition: 0.8s ease-in-out;
    color: black;
  }
  
.button a{
    text-decoration: none;
    font-size: 15px;
    padding: 0%;
} */

	h1{
        text-align: center;
        align-items: center;
        margin-top: 10%;
    }
    p{
      margin-left: 30%;
    }
    .Game{
    
        /* border-width: 100px; */
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: bisque;
    }
    .t-content{
        width: 500px;
        height: 200px;
     display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 3px 5px 10px;
    margin-top: 100px;
    margin-left: 30%;
    }
    